.profile_adds_images{
    display: block;
    position: relative;
    width: 100%;
}

.profile_adds_description{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 3px
}

.form-control.text_area{
    height: 120px;
}
.images_toggle{
    display: block;
    position: relative;
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    background-color: #2f9201;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    color:white;
    border-radius: 15px;
}
.item_toggle{
    display: block;
    position: relative;
    width: 85%;
    line-height: 30px;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: #2f9201;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    color:white;
    border-radius: 15px;
    float: left;
}
.profile_item_delete{
    display: block;
    position: relative;
    width: 14%;
    line-height: 30px;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: #920101;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    color:white;
    border-radius: 15px;
    float: right;
}
.dummy{
    clear: both;
}
.images_toggle_anchor{
    color:white;
    text-decoration: none;
}
.images_toggle_anchor:hover{
    color:white;
    text-decoration: none;
}
.images_toggle_anchor:any-link{
    color:white;
    text-decoration: none;
}
.images_toggle_anchor:active{
    color:white;
    text-decoration: none;
}
.profile_adds_image_wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    padding-top:15px;
    margin-bottom: 20px;
}
.profile_adds_image{
    display: block;
    position: relative;
    width: 250px;
    height: 170px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3px 4px 12px 2px #202020; 
}
.profile_adds_image:hover{
    border-radius: 25px; 
}
.profile_adds_image_text{
    display: block;
    position: relative;
    line-height: 20px;
    width: 250px;
    background-color: #27c200;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    border-bottom-left-radius: 15px;
}
.container-fluid.adds_block02{
    background-color: #cbf7a2;
    padding-top: 20px;
    margin-bottom: 15px;
}

.profile_adds_change_button{
    display: block;
    position: relative;
    width: 100%;
    line-height: 20px;
    background-color: #27c200;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    border-bottom-left-radius: 15px;
}
