{% extends 'index.html' %}
    
    {% block title %}
        {{user.username}}
    {% endblock title %}
    
    
    {% block header %}
        <section class="header_part">
            <div class="header_wrapper">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mymenu"
                                aria-expanded="false">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'items:home_url' %}">Elitka</a>
                        </div>
        
                        <div class="collapse navbar-collapse" id="mymenu">
                            <ul class="nav navbar-nav navbar-right">
        
                                {% if user.is_authenticated %}
                                <li class="active">
                                    <a href="{% url 'accounts:profile' %}">
                                        <span class="sr-only">(current)</span>
                                        Profil
                                    </a>
                                </li>
                                <li><a href="{% url 'accounts:logout' %}">Çyk</a></li>
                                {% else %}
                                <li><a href="{% url 'accounts:register_url' %}">Registrasiýa </a></li>
                                <li><a href="{% url 'accounts:login_url' %}">Gir </a></li>
                                {% endif %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false" href="#">Görnüş
                                        <span class="caret"></span>
                                        
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'items:kind_filter_url' 'apartment' %}">kwartira</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'house' %}">jaý</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'penthouse' %}">daça</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'condo' %}">mellek</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'studio' %}">magazin</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false" href="#">Mekan
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for location in locations %}
                                        <li><a href="{% url 'items:location_filter_url' location.id %}">{{location.name}}</a></li>
                                        {% endfor %}
        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false" href="#">Kategoriýa
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">satylýar</a></li>
                                        <li><a href="#">alynýar</a></li>
                                        <li><a href="#">çalşylýar</a></li>
                                        <li><a href="#">arenda</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                 
                <div class="text_on_header_image">
                    
                    <div class="text_on_header_image_inner">
                    
                        <div style="padding-top: 15px; padding-right: 30px;">                   
                            <p>Siziň registrasiýadaky adyňyz <span style="color:#29e429; font-weight:bold;">{{user.username}}</span></p>
                            <p>Siziň aýan adyňyz <span style="color:#29e429; font-weight:bold;">{{user.additional.name}}</span></p>
                        </div>

                    </div>

                </div>
                
            </div>
            {% include 'search.html' %}
        </section>
    {% endblock header %}
        


    {% block content %}
        <section class="content_part">
            <!-- ads list of user-->
            <div class="container-fluid adds_block02">
                <h3>Meniň bildirişlerim</h3>
            {% for item in item_list %}
                
                <a href="#profile_form{{item.id}}" data-toggle="collapse" class="images_toggle_anchor">
                    <div class="item_toggle">
                        <span class="">
                            <span class="caret"></span>
                            <span>{{item.title}}</span>
                        </span>
                    </div>
                </a>
                <a href="{% url 'items:delete_item' item.id %}">
                    <div class="profile_item_delete">
                        öçür
                    </div>
                </a>
                <div class="dummy"></div>
                
            
                <div id="profile_form{{item.id}}" class="collapse">
                    <form class="form-group" action="{% url 'accounts:adupdate_url' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        otaglar:
                                    </span>
                                    <select class="form-control" name="rooms" id="">
                                        
                                        {% if item.room == 'one bedroom' %}
                                        <option value="one bedroom" selected>bir otagly</option>
                                        {% else %}
                                        <option value="one bedroom">bir otagly</option>
                                        {% endif %}
                                            
                                        {% if item.room == 'two bedrooms' %}
                                        <option value="two bedrooms" selected>iki otagly</option>
                                        {% else %}
                                        <option value="two bedrooms">iki otagly</option>
                                        {% endif %}

                                        {% if item.room == 'three bedrooms' %}
                                        <option value="three bedrooms" selected>üç otagly</option>
                                        {% else %}
                                        <option value="three bedrooms">üç otagly</option>
                                        {% endif %}

                                        {% if item.room == 'four bedrooms' %}
                                        <option value="four bedrooms" selected>dört otagly</option>
                                        {% else %}
                                        <option value="four bedrooms">dört otagly</option>
                                        {% endif %}
                                        
                                        {% if item.room == 'more than 4 bedrooms' %}
                                        <option value="more than 4 bedrooms" selected>4-den köp otagly</option>
                                        {% else %}
                                        <option value="more than 4 bedrooms">4-den köp otagly</option>
                                        {% endif %}
                                        
                                    </select>
                                </div>
            
                            </div>
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Kategoriýa:
                                    </span>
                                    <select class="form-control" name="category" id="">
                                        {% if item.category == 'sell' %}
                                        <option value="sell" selected>
                                            satylýar
                                        </option>
                                        {% else %}
                                        <option value="sell">
                                            satylýar
                                        </option>
                                        {% endif %}
                                            
                                        {% if item.category == 'buy' %}
                                        <option value="buy" selected>
                                            alynýar
                                        </option>
                                        {% else %}
                                        <option value="buy">
                                            alynýar
                                        </option>
                                        {% endif %}
                                       
                                        {% if item.category == 'change' %}
                                        <option value="change" selected>
                                            çalşylýar
                                        </option>
                                        {% else %}
                                        <option value="change">
                                            çalşylýar
                                        </option>
                                        {% endif %}
                                        {% if item.category == 'rent' %}
                                        <option value="rent" selected>
                                            arenda
                                        </option>
                                        {% else %}
                                        <option value="rent">
                                            arenda
                                        </option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Görnüş:
                                    </span>
                                    <select class="form-control" name="kind" id="">
                                        {% if item.kind == 'apartment' %}
                                        <option value="apartment" selected>kwartira</option>
                                        {% else %}
                                        <option value="apartment">kwartira</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'house' %}
                                        <option value="house" selected>jaý</option>
                                        {% else %}
                                        <option value="house">jaý</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'penthouse' %}
                                        <option value="penthouse" selected>daça</option>
                                        {% else %}
                                        <option value="penthouse">daça</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'condo' %}
                                        <option value="condo" selected>mellek</option>
                                        {% else %}
                                        <option value="condo">mellek</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'studio' %}
                                        <option value="studio" selected>magazin</option>
                                        {% else %}
                                        <option value="studio">magazin</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Status:
                                    </span>
                                    <select class="form-control" name="status" id="">
                                        
                                        {% if item.status == 'pending' %}
                                        <option value="pending">garaşmakda</option>
                                        {% elif item.status == 'open' %}
                                        <option value="open" selected>açyk</option>
                                        <option value="closed">ýapyk</option>
                                        <option value="frozen">doňdurylan</option>
                                        {% elif item.status == 'frozen' %}
                                        <option value="open">açyk</option>
                                        <option value="closed">ýapyk</option>
                                        <option value="frozen" selected>doňdurylan</option>
                                        {% elif item.status == 'closed' %}
                                        <option value="open">açyk</option>
                                        <option value="closed" selected>ýapyk</option>
                                        <option value="frozen">doňdurylan</option>                                   
                                        {% endif %}
                                            
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="profile_adds_description">
                                    
                                    {% if item.title == '' %}
                                    <input class="form-control" type="text" name="title" id="" value="ady">
                                    {% else %}
                                    <input class="form-control" type="text" name="title" id="" value="{{item.title}}">
                                    {% endif %}
                                    
                                    
                                    {% if item.description == '' %}
                                    <textarea class="form-control text_area" name="description" id="">beýany</textarea>
                                    {% else %}
                                    <textarea class="form-control text_area" name="description" id="">{{item.description}}</textarea>
                                    {% endif %}
     
                                </div>
                            </div>
                        </div>
                        <div class="row">
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        bahasy:
                                    </span>
                                    <input class="form-control" type="text" name="price" id="" value="{{item.price}}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Ýaşy:
                                    </span>
                                    <select class="form-control" name="age" id="">
                                        
                                        {% if item.age == 'new' %}
                                        <option value="new" selected>täze</option>
                                        {% else %}
                                        <option value="new">täze</option>   
                                        {% endif %}

                                        {% if item.age == 'less than 5 years' %}
                                        <option value="less than 5 years" selected>5 ýyldan az</option>
                                        {% else %}
                                        <option value="less than 5 years">5 ýyldan az</option>
                                        {% endif %}
                                            
                                        {% if item.age == 'less than 10 years' %}
                                        <option value="less than 10 years" selected>10 ýyldan az</option>
                                        {% else %}
                                        <option value="less than 10 years">10 ýyldan az</option>
                                        {% endif %}
                                        
                                        {% if item.age == 'more than 10 years' %}
                                        <option value="more than 10 years" selected>20 ýyldan az</option>
                                        {% else %}
                                        <option value="more than 10 years">20 ýyldan az</option>
                                        {% endif %}
                                        
                                        {% if item.age == 'more than 20 years' %}
                                        <option value="more than 20 years" selected>20 ýyldan köp</option>
                                        {% else %}
                                        <option value="more than 20 years">20 ýyldan köp</option>
                                        {% endif %}
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Mekan:
                                    </span>
                                    <select class="form-control" name="location" id="">
                                        
                                        {% for location in locations %}
                                        
                                            {% if item.location_id == location.id %}
                                            <option value="{{location.id}}" selected>
                                                {{location.name}}
                                            </option>

                                            {% else %}
                                            <option value="{{location.id}}">
                                                {{location.name}}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Adres:
                                    </span>
                                    <input class="form-control" type="text" name="address" id="" value="{{item.address}}">
                                </div>
                                <input type="hidden" name="user" value="{{user.id}}">
                            </div>
            
            
                        </div>
            
                        <div class="container-fluid">
                            <div class="profile_adds_change_button">
                                <button type="submit" class="btn btn-md btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Üýtget
                                </button>
                            </div>
                        </div>
            
                    </form>
                    
                    <a href="#profile_adds_images{{item.id}}" data-toggle="collapse" class="images_toggle_anchor">
                        <div class="images_toggle">
                            <h4 class="">
                                suratlary
                                <span class="glyphicon glyphicon-camera"></span>
                                <span class="caret"></span>
                            </h4>
                        </div>
                    </a>
            
                    <div class="collapse" id="profile_adds_images{{item.id}}">
                        <div class="container">
                            <div class="row">
                            {% for image in image_list %}
                                
                                {% if image.item_id == item.id %}
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="profile_adds_image_wrapper">
                                            <a href="{{image.image.url}}" data-lightbox="{{item.id}}" data-title="{{image.alt}}">
                                                <img class="profile_adds_image" src="{{image.thumbnail.url}}" alt="{{image.alt}}">
                                            </a>
                                            <div class="profile_adds_image_text">
                                                <form class="" action="{% url 'accounts:deleteimage_url' image.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-md btn-danger">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        öçür
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            
                            {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
            
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <form class="form-group" action="{% url 'accounts:addimage_url' item.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="text" class="form-control" name="alt" id="" placeholder="iki söz bilen beýan et">
                                        <input type="file" class="form-control" name="image" id="" placeholder="surat goş...">
                                        <button type="submit" class="btn btn-md btn-primary">
                                            <span class="glyphicon glyphicon-picture"></span>
                                            surat goş
                                        </button>
                                    </form>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            {% endfor %}
            </div>
            <!-- end adds list of user-->
        
            <!--creating new adds-->
            <div class="container-fluid adds_block02">
                <h3>Täze bildiriş goş</h3>
               
            
                <a href="#profile_form{{item.id}}" data-toggle="collapse" class="images_toggle_anchor">
                    <div class="images_toggle">
                        <span class="">
                            <span class="caret"></span>
                            <span class="glyphicon glyphicon-file"></span>
                            <span>täze bildiriş goş</span>
            
            
                        </span>
                    </div>
                </a>
            
                <div id="profile_form{{item.id}}" class="collapse">
                    <form class="form-group" action="{% url 'accounts:adcreate_url'%}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        otaglar:
                                    </span>
                                    <select class="form-control" name="rooms" id="">
                                        
                                        <option value="one bedroom">
                                            bir otagly
                                        </option>
                                        <option value="two bedrooms">
                                            iki otagly
                                        </option>
                                        <option value="three bedrooms">
                                            üç otagly
                                        </option>
                                        <option value="four bedrooms">
                                            dört otagly
                                        </option>
                                        <option value="more than 4 bedrooms">
                                            4-den köp otagly
                                        </option>
                                    </select>
                                </div>
            
                            </div>
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Kategoriýa:
                                    </span>
                                    <select class="form-control" name="category" id="">
                                        
                                        <option value="sell">
                                            satylýar
                                        </option>
                                        <option value="buy">
                                            alynýar
                                        </option>
                                        <option value="change">
                                            çalşylýar
                                        </option>
                                        <option value="rent">
                                            arenda
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Görnüş:
                                    </span>
                                    <select class="form-control" name="kind" id="">
                                        
                                        <option value="apartment">
                                            kwartira
                                        </option>
                                        <option value="house">
                                            jaý
                                        </option>
                                        <option value="penthouse">
                                            daça
                                        </option>
                                        <option value="condo">
                                            mellek
                                        </option>
                                        <option value="studio">
                                            magazin
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Status:
                                    </span>
                                    <select class="form-control" name="status" id="">
                                        <option value="open">açyk</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="profile_adds_description">
                                    <input class="form-control" type="text" name="title" id="" value="adyny ýaz">
                                    <textarea class="form-control text_area" name="description" id="">beýany</textarea>
            
            
                                </div>
                            </div>
                        </div>
                        <div class="row">
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        bahasy:
                                    </span>
                                    <input class="form-control" type="text" name="price" id="" placeholder="meselem: 350000">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Ýaşy:
                                    </span>
                                    <select class="form-control" name="age" id="">
                                        <option value="new">
                                            täze
                                        </option>
                                        <option value="less than 5 years" selected>
                                            5 ýyldan az
                                        </option>
                                        <option value="less than 10 years">
                                            10 ýyldan az
                                        </option>
                                        <option value="more than 10 years">
                                            20 ýyldan az
                                        </option>
                                        <option value="more than 20 years">
                                            20 ýyldan köp
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Mekan:
                                    </span>
                                    <select class="form-control" name="location" id="">
                                        
                                        {% for location in locations %}
                                        <option value="{{location.id}}">
                                            {{location.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Adres:
                                    </span>
                                    <input class="form-control" type="text" name="address" id="" placeholder="emlägiň ýerleşýän ýeri">
                                </div>
                                <input type="hidden" name="user" value="{{user.id}}">
                            </div>
            
            
                        </div>
            
                        <div class="container-fluid">
                            <div class="profile_adds_change_button">
                                <button type="submit" class="btn btn-md btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Döret
                                </button>
                            </div>
                        </div>
            
                    </form>
                </div>
            
            
                
            </div>
            <!-- end creating new adds-->

            <div class="container-fluid adds_block02">
                <h3>Halanan bildirişler</h3>
                <a href="#profile_likes" data-toggle="collapse" class="images_toggle_anchor">
                    <div class="images_toggle">
                        <span class="">
                            <span class="caret"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                            <span>Halanan bildirişler spisogy</span>
                        </span>
                    </div>
                </a>

                <div id="profile_likes" class="collapse" style="margin-top:15px;">
                {% for like in like_list %}
                    <div class="well">
                        <a href="{% url 'items:detail_url' like.item.id %}">
                            {{like.item.title}}
                        </a>
                    </div>
                    
                {% endfor %}
                </div>
            </div>
            <!--personal info -->
                <div class="container-fluid adds_block02">
                    <h3>Hemmelere görünýän özüm hakda maglumat</h3>
                    <a href="#profile_info" data-toggle="collapse" class="images_toggle_anchor">
                        <div class="images_toggle">
                            <span class="">
                                <span class="caret"></span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span>Özüm hakda maglumat</span>
                            </span>
                        </div>
                    </a>
                
                    <div id="profile_info" class="collapse">
                        {% if additional_info %}
                        <form class="form-group" action="{% url 'accounts:update_profile' %}" method='post'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Adym:
                                        </span>
                                        <input class="form-control" type="text" name="name" value="{{additional_info.name}}">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            email:
                                        </span>
                                        <input class="form-control" type="text" name="email" value="{{additional_info.email}}">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            telefon:
                                        </span>
                                        <input class="form-control" type="text" name="telephone" value="{{additional_info.telephone}}">
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="profile_adds_change_button">
                                    <button type="submit" class="btn btn-md btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Üýtget
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <form class="form-group" action="{% url 'accounts:create_profile' %}" method='post'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Adym:
                                        </span>
                                        <input class="form-control" type="text" name="name" placeholder="aýan adyňyzy ýazyň..">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            email:
                                        </span>
                                        <input class="form-control" type="text" name="email" placeholder="aýan email ýazyň">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            telefon:
                                        </span>
                                        <input class="form-control" type="text" name="telephone" placeholder="aýan telefonyňyzy ýazyň">
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="profile_adds_change_button">
                                    <button type="submit" class="btn btn-md btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Döret
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            <!-- end personal info-->
        </section>
    {% endblock content %}
        
        
        
