{% extends 'index.html' %}
    
    {% block title %}
        {{user.username}}
    {% endblock title %}
    
    
    {% block header %}
        <section class="header_part">
            <div class="header_wrapper">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mymenu"
                                aria-expanded="false">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'items:home_url' %}">House-Agenda</a>
                        </div>
        
                        <div class="collapse navbar-collapse" id="mymenu">
                            <ul class="nav navbar-nav navbar-right">
        
                                {% if user.is_authenticated %}
                                <li class="active">
                                    <a href="{% url 'accounts:profile' %}">
                                        <span class="sr-only">(current)</span>
                                        Profile
                                    </a>
                                </li>
                                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                                {% else %}
                                <li><a href="{% url 'accounts:register_url' %}">Register </a></li>
                                <li><a href="{% url 'accounts:login_url' %}">Login </a></li>
                                {% endif %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false" href="#">Kind
                                        <span class="caret"></span>
                                        
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'items:kind_filter_url' 'apartment' %}">apartment</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'house' %}">house</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'penthouse' %}">penthouse</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'condo' %}">condo</a></li>
                                        <li><a href="{% url 'items:kind_filter_url' 'studio' %}">studio</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false" href="#">Location
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for location in locations %}
                                        <li><a href="{% url 'items:location_filter_url' location.id %}">{{location.name}}</a></li>
                                        {% endfor %}
        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false" href="#">Category
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">sell</a></li>
                                        <li><a href="#">buy</a></li>
                                        <li><a href="#">change</a></li>
                                        <li><a href="#">rent</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                 
                <div class="text_on_header_image">
                    
                    <div class="text_on_header_image_inner">
                    
                        <div style="padding-top: 15px; padding-right: 30px;">                   
                            <p>You registered as <span style="color:red;">{{user.username}}</span></p>
                            <p>Your publick name is <span style="color:red;">{{user.additional.name}}</span></p>
                        </div>

                    </div>

                </div>
                
            </div>
            {% include 'search.html' %}
        </section>
    {% endblock header %}
        


    {% block content %}
        <section class="content_part">
            <!-- ads list of user-->
            <div class="container-fluid adds_block02">
                <h3>My ads</h3>
            {% for item in item_list %}
                
                <a href="#profile_form{{item.id}}" data-toggle="collapse" class="images_toggle_anchor">
                    <div class="item_toggle">
                        <span class="">
                            <span class="caret"></span>
                            <span>{{item.title}}</span>
                        </span>
                    </div>
                </a>
                <a href="{% url 'items:delete_item' item.id %}">
                    <div class="profile_item_delete">
                        delete
                    </div>
                </a>
                <div class="dummy"></div>
                
            
                <div id="profile_form{{item.id}}" class="collapse">
                    <form class="form-group" action="{% url 'accounts:adupdate_url' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        rooms:
                                    </span>
                                    <select class="form-control" name="rooms" id="">
                                        
                                        {% if item.room == 'one bedroom' %}
                                        <option value="one bedroom" selected>one bedroom</option>
                                        {% else %}
                                        <option value="one bedroom">one bedroom</option>
                                        {% endif %}
                                            
                                        {% if item.room == 'two bedrooms' %}
                                        <option value="two bedrooms" selected>two bedrooms</option>
                                        {% else %}
                                        <option value="two bedrooms">two bedrooms</option>
                                        {% endif %}

                                        {% if item.room == 'three bedrooms' %}
                                        <option value="three bedrooms" selected>three bedrooms</option>
                                        {% else %}
                                        <option value="three bedrooms">three bedrooms</option>
                                        {% endif %}

                                        {% if item.room == 'four bedrooms' %}
                                        <option value="four bedrooms" selected>four bedrooms</option>
                                        {% else %}
                                        <option value="four bedrooms">four bedrooms</option>
                                        {% endif %}
                                        
                                        {% if item.room == 'more than 4 bedrooms' %}
                                        <option value="more than 4 bedrooms" selected>more than 4 bedrooms</option>
                                        {% else %}
                                        <option value="more than 4 bedrooms">more 4 than bedrooms</option>
                                        {% endif %}
                                        
                                    </select>
                                </div>
            
                            </div>
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        category:
                                    </span>
                                    <select class="form-control" name="category" id="">
                                        {% if item.category == 'sell' %}
                                        <option value="sell" selected>
                                            sell
                                        </option>
                                        {% else %}
                                        <option value="sell">
                                            sell
                                        </option>
                                        {% endif %}
                                            
                                        {% if item.category == 'buy' %}
                                        <option value="buy" selected>
                                            buy
                                        </option>
                                        {% else %}
                                        <option value="buy">
                                            buy
                                        </option>
                                        {% endif %}
                                       
                                        {% if item.category == 'change' %}
                                        <option value="change" selected>
                                            change
                                        </option>
                                        {% else %}
                                        <option value="change">
                                            change
                                        </option>
                                        {% endif %}
                                        {% if item.category == 'rent' %}
                                        <option value="rent" selected>
                                            rent
                                        </option>
                                        {% else %}
                                        <option value="rent">
                                            rent
                                        </option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Kind:
                                    </span>
                                    <select class="form-control" name="kind" id="">
                                        {% if item.kind == 'apartment' %}
                                        <option value="apartment" selected>apartment</option>
                                        {% else %}
                                        <option value="apartment">apartment</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'house' %}
                                        <option value="house" selected>house</option>
                                        {% else %}
                                        <option value="house">house</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'penthouse' %}
                                        <option value="penthouse" selected>penthouse</option>
                                        {% else %}
                                        <option value="penthouse">penthouse</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'condo' %}
                                        <option value="condo" selected>condo</option>
                                        {% else %}
                                        <option value="condo">condo</option>
                                        {% endif %}
                                        
                                        {% if item.kind == 'studio' %}
                                        <option value="studio" selected>studio</option>
                                        {% else %}
                                        <option value="studio">studio</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Status:
                                    </span>
                                    <select class="form-control" name="status" id="">
                                        
                                        {% if item.status == 'pending' %}
                                        <option value="pending">pending</option>
                                        {% elif item.status == 'open' %}
                                        <option value="open" selected>open</option>
                                        <option value="closed">closed</option>
                                        <option value="frozen">frozen</option>
                                        {% elif item.status == 'frozen' %}
                                        <option value="open">open</option>
                                        <option value="closed">closed</option>
                                        <option value="frozen" selected>frozen</option>
                                        {% elif item.status == 'closed' %}
                                        <option value="open">open</option>
                                        <option value="closed" selected>closed</option>
                                        <option value="frozen">frozen</option>                                   
                                        {% endif %}
                                            
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="profile_adds_description">
                                    
                                    {% if item.title == '' %}
                                    <input class="form-control" type="text" name="title" id="" value="title">
                                    {% else %}
                                    <input class="form-control" type="text" name="title" id="" value="{{item.title}}">
                                    {% endif %}
                                    
                                    
                                    {% if item.description == '' %}
                                    <textarea class="form-control text_area" name="description" id="">description</textarea>
                                    {% else %}
                                    <textarea class="form-control text_area" name="description" id="">{{item.description}}</textarea>
                                    {% endif %}
     
                                </div>
                            </div>
                        </div>
                        <div class="row">
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        price:
                                    </span>
                                    <input class="form-control" type="text" name="price" id="" value="{{item.price}}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Age:
                                    </span>
                                    <select class="form-control" name="age" id="">
                                        
                                        {% if item.age == 'new' %}
                                        <option value="new" selected>new</option>
                                        {% else %}
                                        <option value="new">new</option>   
                                        {% endif %}

                                        {% if item.age == 'less than 5 years' %}
                                        <option value="less than 5 years" selected>less than 5 years</option>
                                        {% else %}
                                        <option value="less than 5 years">less than 5 years</option>
                                        {% endif %}
                                            
                                        {% if item.age == 'less than 10 years' %}
                                        <option value="less than 10 years" selected>less than 10 years</option>
                                        {% else %}
                                        <option value="less than 10 years">less than 10 years</option>
                                        {% endif %}
                                        
                                        {% if item.age == 'more than 10 years' %}
                                        <option value="more than 10 years" selected>more than 10 years</option>
                                        {% else %}
                                        <option value="more than 10 years">more than 10 years</option>
                                        {% endif %}
                                        
                                        {% if item.age == 'more than 20 years' %}
                                        <option value="more than 20 years" selected>more than 20 years</option>
                                        {% else %}
                                        <option value="more than 20 years">more than 20 years</option>
                                        {% endif %}
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Location:
                                    </span>
                                    <select class="form-control" name="location" id="">
                                        
                                        {% for location in locations %}
                                        
                                            {% if item.location_id == location.id %}
                                            <option value="{{location.id}}" selected>
                                                {{location.name}}
                                            </option>

                                            {% else %}
                                            <option value="{{location.id}}">
                                                {{location.name}}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Address:
                                    </span>
                                    <input class="form-control" type="text" name="address" id="" value="{{item.address}}">
                                </div>
                                <input type="hidden" name="user" value="{{user.id}}">
                            </div>
            
            
                        </div>
            
                        <div class="container-fluid">
                            <div class="profile_adds_change_button">
                                <button type="submit" class="btn btn-md btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Update
                                </button>
                            </div>
                        </div>
            
                    </form>
                    
                    <a href="#profile_adds_images{{item.id}}" data-toggle="collapse" class="images_toggle_anchor">
                        <div class="images_toggle">
                            <h4 class="">
                                images
                                <span class="glyphicon glyphicon-camera"></span>
                                <span class="caret"></span>
                            </h4>
                        </div>
                    </a>
            
                    <div class="collapse" id="profile_adds_images{{item.id}}">
                        <div class="container">
                            <div class="row">
                            {% for image in image_list %}
                                
                                {% if image.item_id == item.id %}
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="profile_adds_image_wrapper">
                                            <a href="{{image.image.url}}" data-lightbox="{{item.id}}" data-title="{{image.alt}}">
                                                <img class="profile_adds_image" src="{{image.thumbnail.url}}" alt="{{image.alt}}">
                                            </a>
                                            <div class="profile_adds_image_text">
                                                <form class="" action="{% url 'accounts:deleteimage_url' image.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-md btn-danger">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        delete
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            
                            {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
            
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <form class="form-group" action="{% url 'accounts:addimage_url' item.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="text" class="form-control" name="alt" id="" placeholder="describe in two words...">
                                        <input type="file" class="form-control" name="image" id="" placeholder="add image...">
                                        <button type="submit" class="btn btn-md btn-primary">
                                            <span class="glyphicon glyphicon-picture"></span>
                                            add image
                                        </button>
                                    </form>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            {% endfor %}
            </div>
            <!-- end adds list of user-->
        
            <!--creating new adds-->
            <div class="container-fluid adds_block02">
                <h3>Create new ad</h3>
               
            
                <a href="#profile_form{{item.id}}" data-toggle="collapse" class="images_toggle_anchor">
                    <div class="images_toggle">
                        <span class="">
                            <span class="caret"></span>
                            <span class="glyphicon glyphicon-file"></span>
                            <span>create new ad</span>
            
            
                        </span>
                    </div>
                </a>
            
                <div id="profile_form{{item.id}}" class="collapse">
                    <form class="form-group" action="{% url 'accounts:adcreate_url'%}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        rooms:
                                    </span>
                                    <select class="form-control" name="rooms" id="">
                                        
                                        <option value="one bedroom">
                                            one bedroom
                                        </option>
                                        <option value="two bedrooms">
                                            two bedrooms
                                        </option>
                                        <option value="three bedrooms">
                                            three bedrooms
                                        </option>
                                        <option value="four bedrooms">
                                            four bedrooms
                                        </option>
                                        <option value="more than 4 bedrooms">
                                            more than 4 bedrooms
                                        </option>
                                    </select>
                                </div>
            
                            </div>
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        category:
                                    </span>
                                    <select class="form-control" name="category" id="">
                                        
                                        <option value="sell">
                                            sell
                                        </option>
                                        <option value="buy">
                                            buy
                                        </option>
                                        <option value="change">
                                            change
                                        </option>
                                        <option value="rent">
                                            rent
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Kind:
                                    </span>
                                    <select class="form-control" name="kind" id="">
                                        
                                        <option value="apartment">
                                            apartment
                                        </option>
                                        <option value="house">
                                            house
                                        </option>
                                        <option value="penthouse">
                                            penthouse
                                        </option>
                                        <option value="condo">
                                            condo
                                        </option>
                                        <option value="studio">
                                            studio
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Status:
                                    </span>
                                    <select class="form-control" name="status" id="">
                                        <option value="open">open</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="profile_adds_description">
                                    <input class="form-control" type="text" name="title" id="" value="type title">
                                    <textarea class="form-control text_area" name="description" id="">type description</textarea>
            
            
                                </div>
                            </div>
                        </div>
                        <div class="row">
            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        price:
                                    </span>
                                    <input class="form-control" type="text" name="price" id="" placeholder="e.g.: 350000">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Age:
                                    </span>
                                    <select class="form-control" name="age" id="">
                                        <option value="new">
                                            new
                                        </option>
                                        <option value="less than 5 years" selected>
                                            less than 5 years
                                        </option>
                                        <option value="less than 10 years">
                                            less than 10 years
                                        </option>
                                        <option value="more than 10 years">
                                            more than 10 years
                                        </option>
                                        <option value="more than 20 years">
                                            more than 20 years
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Location:
                                    </span>
                                    <select class="form-control" name="location" id="">
                                        
                                        {% for location in locations %}
                                        <option value="{{location.id}}">
                                            {{location.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Address:
                                    </span>
                                    <input class="form-control" type="text" name="address" id="" placeholder="address of ad">
                                </div>
                                <input type="hidden" name="user" value="{{user.id}}">
                            </div>
            
            
                        </div>
            
                        <div class="container-fluid">
                            <div class="profile_adds_change_button">
                                <button type="submit" class="btn btn-md btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Create
                                </button>
                            </div>
                        </div>
            
                    </form>
                </div>
            
            
                
            </div>
            <!-- end creating new adds-->

            <div class="container-fluid adds_block02">
                <h3>Liked ads</h3>
                <a href="#profile_likes" data-toggle="collapse" class="images_toggle_anchor">
                    <div class="images_toggle">
                        <span class="">
                            <span class="caret"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                            <span>liked item list</span>
                        </span>
                    </div>
                </a>

                <div id="profile_likes" class="collapse" style="margin-top:15px;">
                {% for like in like_list %}
                    <div class="well">
                        <a href="{% url 'items:detail_url' like.item.id %}">
                            {{like.item.title}}
                        </a>
                    </div>
                    
                {% endfor %}
                </div>
            </div>
            <!--personal info -->
                <div class="container-fluid adds_block02">
                    <h3>Personal info</h3>
                    <a href="#profile_info" data-toggle="collapse" class="images_toggle_anchor">
                        <div class="images_toggle">
                            <span class="">
                                <span class="caret"></span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span>personal info</span>
                            </span>
                        </div>
                    </a>
                
                    <div id="profile_info" class="collapse">
                        {% if additional_info %}
                        <form class="form-group" action="{% url 'accounts:update_profile' %}" method='post'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Name:
                                        </span>
                                        <input class="form-control" type="text" name="name" value="{{additional_info.name}}">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            email:
                                        </span>
                                        <input class="form-control" type="text" name="email" value="{{additional_info.email}}">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            telephone:
                                        </span>
                                        <input class="form-control" type="text" name="telephone" value="{{additional_info.telephone}}">
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="profile_adds_change_button">
                                    <button type="submit" class="btn btn-md btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <form class="form-group" action="{% url 'accounts:create_profile' %}" method='post'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            Name:
                                        </span>
                                        <input class="form-control" type="text" name="name" placeholder="write your public name..">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            email:
                                        </span>
                                        <input class="form-control" type="text" name="email" placeholder="write your public email..">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            telephone:
                                        </span>
                                        <input class="form-control" type="text" name="telephone" placeholder="write your public telephone..">
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="profile_adds_change_button">
                                    <button type="submit" class="btn btn-md btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Create
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            <!-- end personal info-->
        </section>
    {% endblock content %}
        
        
        
