<section class="footer_part" id="footer_part">
    <div class="footer_wrapper">
        <div class="inner_footer_wrapper">
            <div class="row">
                
                {% for footer in footer_list %}
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center;">
                        <h4>{{footer.title}}</h4>
                    
                        <p style="text-align: center;">
                            {{footer.text}}
                        </p>
                    </div>
                {% endfor %}
                    
                
            </div>
        </div>  
        <div class="copyright">
            <div class="copyright_inner">
                Since 2020. &copy; All rights reserved.
            </div>
        </div>
    </div>
</section>