<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="image/x-icon" rel="icon" href="{% static 'images/logo.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">

    <title>{% block title %}elitka{% endblock title %}</title>
</head>
<body>
    <div class="container-fluid">
        
    {% block header %}
        {% include 'header.html' %}
    {% endblock header %}
            
    
    {% block content %}
        <section class="content_part">
            <div class="container-fluid">
                <div class="block_header">
                    <h4 class="block_header_title">soňky bildirişler</h4>
                </div>
        
                <div class="row">
                    
                    {% for item in last_vip_items_list %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="{% url 'items:detail_url' item.id %}" class="adds_anchor">
                                <h4 class="vip">
                                    <span class="glyphicon glyphicon-star"></span>
                        
                                    <!-- max 4 words -->
                                    {{item.title|truncatechars:30}}
                                </h4>
                            </a>
                            <div class="main_image_wrapper">
                                <div class="adds_image_thumb">
                                    
                                    {% for img in image_list %}
                                        
                                        {% if img.item_id == item.id %}
                                            <img class="adds_image_thumb_img" src="{{img.thumbnail.url}}" alt="{{img.alt}}">
                                        {% endif %}
                                            
                                       
                                    {% endfor %}
                                        
                                   
                                </div>
                                <div class="on_thumb_text">
                        
                                    <!-- max 3 words -->
                                    {% if item.category == 'sell' %}
                                    satylýar
                                    {% elif item.category == 'buy' %}
                                    alynýar
                                    {% elif item.category == 'change' %}
                                    çalşylýar
                                    {% elif item.category == 'rent' %}
                                    arenda
                                    {% endif %}
                                    ,
                                    {% if item.kind == 'apartment' %}
                                    kwartira
                                    {% elif item.kind == 'house' %}
                                    jaý
                                    {% elif item.kind == 'penthouse' %}
                                    daça
                                    {% elif item.kind == 'condo' %}
                                    mellek
                                    {% elif item.kind == 'studio' %}
                                    magazin
                                    {% endif %}
                                    ,
                                    {% if item.age == 'new' %}
                                    täze
                                    {% elif item.age == 'less than 5 years' %}
                                    5 ýyldan az
                                    {% elif item.age == 'less than 10 years' %}
                                    10 ýyldan az
                                    {% elif item.age == 'more than 10 years' %}
                                    20 ýyldan az
                                    {% elif item.age == 'more than 20 years' %}
                                    20 ýyldan köp
                                    {% endif %}
                                </div>
                                <div class="on_thumb_text2">
                        
                                    <!-- max 3 words -->
                                {% if item.room == 'one bedroom' %}
                                1 otagly
                                {% elif item.room == 'two bedrooms' %}
                                2 otagly
                                {% elif item.room == 'three bedrooms' %}
                                3 otagly
                                {% elif item.room == 'four bedrooms' %}
                                4 otagly
                                {% elif item.room == 'more than 4 bedrooms' %}
                                4-den köp otagly
                                {% endif %},
                                {{item.price }} manat
                                </div>
                                <div class="like">
                                    {% if user.is_authenticated %}
                                    
                                        {% if item.has_like == 0 %}
                                        <a class="like_anchor" href="{% url 'items:like_ad_url' item.id %}">
                                            <span class="glyphicon glyphicon-heart"></span>
                                        </a>
                                        {% else %}
                                        <a class="liked_anchor" href="{% url 'items:like_ad_url' item.id %}">
                                            <span class="glyphicon glyphicon-heart"></span>
                                        </a>
                                        {% endif %}
                                    
                                    
                                    {% else %}
                                    <div class="like_anchor" >
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </div>
                                    {% endif %}
                                        
                                    
                                </div>
                            </div>
                            <h5><span class="glyphicon glyphicon-map-marker"></span> {{item.location}}</h5>
                            <div class="adds_text_location">
                                {{item.address}}
                            </div>
                            <h5><span class="glyphicon glyphicon-edit"></span> {{item.title}}</h5>
                            <div class="adds_text_description">
                                {{item.description}}
                            </div>
                            <h5 class="">
                                <span class="glyphicon glyphicon-flag">
                                </span>
                                Status:
                                
                                {% if item.status == 'open' %}
                                    <span class="label label-success">
                                        açyk
                                    </span>
                                {% elif item.status == 'closed'%}
                                    <span class="label label-danger">
                                        ýapyk
                                    </span>
                                {% elif item.status == 'frozen'%}
                                    <span class="label label-primary">
                                        doňdurylan
                                    </span>
                                {% elif item.status == 'pending'%}
                                    <span class="label label-warning">
                                        garaşmakda
                                    </span>
                                {% endif %}
                                    
                            
                            </h5>
                        </div>
                    {% endfor %}
                    {% for item2 in last_items_list %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <a href="{% url 'items:detail_url' item2.id %}" class="adds_anchor">
                            <h4 class="nonvip">
                                <!-- max 4 words -->
                                {{item2.title|truncatechars:18}}
                                
                            </h4>
                        </a>
                        <div class="main_image_wrapper">
                            <div class="adds_image_thumb">
                    
                                {% for img in image_list %}
                    
                                {% if img.item_id == item2.id %}
                                <img class="adds_image_thumb_img" src="{{img.thumbnail.url}}" alt="{{img.alt}}">
                                {% endif %}
                    
                    
                                {% endfor %}
                    
                    
                            </div>
                            <div class="on_thumb_text">
                    
                                <!-- max 3 words -->
                                {% if item2.category == 'sell' %}
                                satylýar
                                {% elif item2.category == 'buy' %}
                                alynýar
                                {% elif item2.category == 'change' %}
                                çalşylýar
                                {% elif item2.category == 'rent' %}
                                arenda
                                {% endif %}
                                ,
                                {% if item2.kind == 'apartment' %}
                                kwartira
                                {% elif item2.kind == 'house' %}
                                jaý
                                {% elif item2.kind == 'penthouse' %}
                                daça
                                {% elif item2.kind == 'condo' %}
                                mellek
                                {% elif item2.kind == 'studio' %}
                                magazin
                                {% endif %}
                                ,
                                {% if item2.age == 'new' %}
                                täze
                                {% elif item2.age == 'less than 5 years' %}
                                5 ýyldan az
                                {% elif item2.age == 'less than 10 years' %}
                                10 ýyldan az
                                {% elif item2.age == 'more than 10 years' %}
                                20 ýyldan az
                                {% elif item2.age == 'more than 20 years' %}
                                20 ýyldan köp
                                {% endif %}
                            </div>
                            <div class="on_thumb_text2">
                    
                                <!-- max 3 words -->
                                {% if item2.room == 'one bedroom' %}
                                1 otagly
                                {% elif item2.room == 'two bedrooms' %}
                                2 otagly
                                {% elif item2.room == 'three bedrooms' %}
                                3 otagly
                                {% elif item2.room == 'four bedrooms' %}
                                4 otagly
                                {% elif item2.room == 'more than 4 bedrooms' %}
                                4-den köp otagly
                                {% endif %},
                                {{item2.price }} manat
                            </div>
                            <div class="like">
                                
                                {% if user.is_authenticated %}
                                    
                                    {% if item2.has_like == 0 %}
                                        <a class="like_anchor" href="{% url 'items:like_ad_url' item2.id %}">
                                            <span class="glyphicon glyphicon-heart"></span>
                                        </a>
                                    {% else %}
                                        <a class="liked_anchor" href="{% url 'items:like_ad_url' item2.id %}">
                                            <span class="glyphicon glyphicon-heart"></span>
                                        </a>
                                    {% endif %}
                                        
                                                                    
                                {% else %}
                                <div class="like_anchor" href="">
                                    <span class="glyphicon glyphicon-heart"></span>
                                </div>
                                {% endif %}
                                    
                                
                            </div>
                        </div>
                        <h5><span class="glyphicon glyphicon-map-marker"></span> {{item2.location}}</h5>
                        <div class="adds_text_location">
                            {{item2.address}}
                        </div>
                        <h5><span class="glyphicon glyphicon-edit"></span> {{item2.title}}</h5>
                        <div class="adds_text_description">
                            {{item2.description}}
                        </div>
                        <h5 class="">
                            <span class="glyphicon glyphicon-flag">
                            </span>
                            Status:
                    
                            {% if item2.status == 'open' %}
                            <span class="label label-success">
                                açyk
                            </span>
                            {% elif item2.status == 'closed'%}
                            <span class="label label-danger">
                                ýapyk
                            </span>
                            {% elif item2.status == 'frozen'%}
                            <span class="label label-primary">
                                doňdurylan
                            </span>
                            {% elif item2.status == 'pending'%}
                            <span class="label label-warning">
                                garaşmakda
                            </span>
                            {% endif %}
                    
                    
                        </h5>
                    </div>
                    {% endfor %}
                        
                    
                </div>
            </div>
        </section>
    {% endblock content %}
           
    
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}
            
        
    </div> 
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>   
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>

</body>
</html>

