<div class="search_block">
    <a href="#search_form_wrapper" class="search_toggle_anchor" data-toggle="collapse">
        <h4 class="search_toggle">
            <span class="glyphicon glyphicon-search"></span>
            Search
            <span class="caret"></span>
        </h4>
    </a>
    <div id="search_form_wrapper" class="collapse">
        <form class="navbar-form" role="search" method="POST" action="{% url 'items:search_url' %}">
            {% csrf_token %}
            <div class="form-group">
                <select name="kind" id="" class="form-control">
                    <option value="any" selected>Any kind</option>
                    <option value="apartment">apartment</option>
                    <option value="house">house</option>
                    <option value="penthouse">penthouse</option>
                    <option value="condo">condo</option>
                    <option value="studio">studio</option>
                </select>
                <select name="room" id="" class="form-control">
                    <option value="any" selected>Any rooms</option>
                    <option value="one bedroom">one bedroom</option>
                    <option value="two bedrooms">two bedrooms</option>
                    <option value="three bedrooms">three bedrooms</option>
                    <option value="four bedrooms">four bedrooms</option>
                    <option value="more than 4 bedrooms">more than 4 bedrooms</option>
                </select>
                <select name="category" id="" class="form-control">
                    <option value="any" selected>Any category</option>
                    <option value="sell">sell</option>
                    <option value="buy">buy</option>
                    <option value="change">change</option>
                    <option value="rent">rent</option>

                </select>
                <select name="age" id="" class="form-control">
                    <option value="any" selected>Any ages</option>
                    <option value="new">new</option>
                    <option value="less than 5 years">less than 5 years</option>
                    <option value="less than 10 years">less than 10 years</option>
                    <option value="more than 10 years">more than 10 years</option>
                    <option value="more than 20 years">more than 20 years</option>
                </select>
                <select name="location" id="" class="form-control">
                    <option value="any" selected>Any location</option>
                    
                    {% for location in locations %}
                        <option value="{{location.id}}">{{location.name}}</option>
                    {% endfor %}
                        
                </select>
                <select name="price_range" id="" class="form-control">
                    <option value="any" selected>Any price</option>
                    <option value="max">max</option>
                    <option value="min">min</option>
                </select>
                <input type="text" class="form-control" name="price" placeholder="price...">
                <input type="text" class="form-control" name="text" placeholder="search...">
                <input type="submit" value="search" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>